.wrapper {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "navbar navbar"
    "sidebar content";
    height: 100vh;
    @include media-sm { 
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:
        "navbar"
        "sidebar"
        "content";
    }
}