.wrapper {
    grid-area: content;
    padding: 1rem;
    max-width: 100%;
    overflow-wrap: break-word;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;

    & .title, & .textarea, & .markdown {
            width: calc(100vw - 28rem);
    }
    & .textarea {
            background-color: $primary;
            color: $secondary;
            resize: none;
            height: 100%;
    }
     
}