.btn {
    &.primary {
        background-color: $primary;
        border-radius: $border-radious;
        width: 5rem;
        height: 3rem;
        display: grid;
        place-content: center;
        & svg {
            width: 2rem;
            height: 2rem;
        }
    }
}