.wrapper {
    border-bottom: 0.1rem solid;
    border-color: $gray;
    padding: 0.5rem 1rem;
    & .info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        & .description, .title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &.selected {
        background-color: $gray;
        border-color: $primary;
    }
}